/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  [class*="col"] {
    width: 100%;
  }

  nav ul li a {
    padding-right: 20px;
    font-size: 3vw;
  }

  /* Large devices Home */
  .home [class*="col4"] {
    width: 30%;
  }

  .home [class*="col8"] {
    width: 70%;
  }

  .mytext {
    padding-top: 12%;
  }

  #myname {
    font-size: 6vw;
    text-align: center;
  }

  .mywebdev {
    font-size: 2.5vw;
    text-align: center;
    letter-spacing: 1.5vw;
  }

  .myberlin {
    font-size: 2.5vw;
    text-align: center;
  }

  .myphoto {
    float: left;
    width: 60%;
    max-width: 100%;
    height: auto;
  }

  .footer {
    background-color: #fa0606;
    font-size: 2.5vw;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
  }

  /* Large devices ABOUT */

  .myabout {
    background-image: url(coffe.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 125%;
    height: auto;
  }

  .whatido,
  .howdid {
    background-color: #fcfafaed;
    background-repeat: no-repeat;
    background-size: 80%;
  }


  .myh2 {
    font-size: 5.5vw;
  }

  .myh3 {
    font-size: 4vw;
  }

  .myh4 {
    font-size: 3vw;
  }

  /* Large devices SKILLS */

  .myskills {
    background-image: url(meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 125%;
    border-radius: 10px;
  }

  .myh2skill {
    font-size: 5.3vw;
    padding-left: 25px;
  }

  .procent {
    font-size: 3.5vw;
  }

  #fill,
  #fill1,
  #fill2,
  #fill3,
  #fill4,
  #fill5,
  #fill6,
  #fill7,
  #fill8 {
    height: 30px;
  }

  #bar {
    height: 30px;
  }

  .myliskill,
  .date,
  .underline,
  .myspanskill {
    font-size: 3.5vw;
  }

  #mytable {
    font-size: 3.5vw;
    padding-left: 25px;
  }

  .myexperience ul li,
  .myeducation ul li {
    font-size: 4.2vw;
  }

  /* Large devices PORTFOLIO */

  #myportfolio {
    background-size: cover;
    width: 125%;
  }

  .mydevices {
    padding-left: 120px;
  }

  .microsite {
    font-size: 5vw;
  }

  .microdescrip {
    font-size: 4vw;
  }

  .myconcept,
  .techno {
    font-size: 3vw;
  }


  /* Large devices --CONTACT-- */

  .mycontact {
    background-size: cover;
    width: 129%;
  }

  .mybrief {
    font-size: 6vw;
  }

  .myinterest {
    font-size: 5vw;
  }

  .mybrief {
    padding-left: 30px;
  }

  .myicon {
    text-align: center;
  }

  .mydetails {
    text-align: center;
    font-size: 3.8vw;
  }

  .myh2contact {
    font-size: 5.6vw;
  }

  #myh1contact {
    font-size: 5.6vw;
  }

  #msg {
    width: 90%;
    height: auto;
    font-size: 1.4em;
    color: red;
  }

  .botao {
    background-color: silver;
    border-radius: 15%;
  }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  [class*="col"] {
    width: 100%;
  }

  nav ul li a {
    float: left;
    padding-right: 30px;
    font-size: 5vw;
  }

  /* Medium devices - HOME */
  .home [class*="col4"] {
    width: 30%;
  }

  .home [class*="col8"] {
    width: 70%;
  }

  .mytext {
    padding-top: 12%;
  }

  #myname {
    font-size: 7vw;
    text-align: center;
  }

  .mywebdev {
    font-size: 2vw;
    text-align: center;
    letter-spacing: 1.8vw;
  }

  .myberlin {
    font-size: 2.5vw;
    text-align: center;
  }

  .myphoto {
    float: left;
    width: 60%;
    max-width: 100%;
    height: auto;
  }

  .footer {
    background-color: #fa0606;
    font-size: 3vw;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
  }
}


/* Small devices (phones, 667px and down) */
@media only screen and (max-width: 667px) {
  [class*="col"] {
    width: 100%;
  }

  nav ul li a {
    float: left;
    padding-right: 30px;
    font-size: 6vw;
  }

  .home [class*="col4"] {
    width: 30%;
  }

  .home [class*="col8"] {
    width: 70%;
  }

  .mytext {
    padding-top: 12%;
  }

  #myname {
    font-size: 9vw;
    text-align: center;
  }

  .mywebdev {
    font-size: 3.5vw;
    text-align: center;
    letter-spacing: 2vw;
  }

  .myberlin {
    font-size: 3.5vw;
    text-align: center;
  }

  .myphoto {
    float: left;
    width: 60%;
    max-width: 100%;
    height: auto;
  }

  .footer {
    background-color: #fa0606;
    font-size: 3.5vw;
    color: #fff;
    width: 100%;
    height: auto;
    text-align: center;
  }


  /* RESPONSIVE DESIGN --ABOUT-- */

  .myabout {
    background-image: url(coffe.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 256%;
    height: auto;
  }

  .whatido,
  .howdid {
    background-color: #fcfafaed;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 3vw;
    border: double;
    color: black;
    padding: 29px 0;
    text-align: center;
    margin: 32px 0;
  }


  .myh2 {
    font-size: 7.5vw;
  }

  .myh3 {
    font-size: 6vw;
  }

  .myh4 {
    font-size: 5vw;
  }


  /* RESPONSIVE DESIGN --SKILLS-- */

  .myskills {
    background-image: url(meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 256%;
    border-radius: 10px;
  }

  .myh2skill {
    font-size: 8vw;
    padding-left: 30px;
  }

  .procent {
    font-size: 6vw;
  }

  #fill,
  #fill1,
  #fill2,
  #fill3,
  #fill4,
  #fill5,
  #fill6,
  #fill7,
  #fill8 {
    height: 40px;
  }

  #bar {
    height: 40px;
  }

  .myliskill,
  .date,
  .underline,
  .myspanskill {
    font-size: 6vw;
  }

  #mytable {
    font-size: 6vw;
    padding-left: 30px;
  }

  .myexperience ul li,
  .myeducation ul li {
    font-size: 6.5vw;
  }

  .myknowledge,
  .myexperience,
  .myeducation {
    background-color: #fcfafaed;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 3vw;
    border: double;
    color: black;
    padding: 29px 0;
    margin: 32px 0;
  }

  /* RESPONSIVE DESIGN --PORTFOLIO-- */

  #myportfolio {
    background-size: cover;
    width: 256%;
  }

  .mydevices {
    padding-left: 120px;
  }

  .microsite {
    font-size: 7vw;
  }

  .microdescrip {
    font-size: 6vw;
  }

  .myconcept,
  .techno {
    font-size: 5vw;
  }


  /* RESPONSIVE DESIGN --CONTACT-- */

  .mycontact {
    background-size: cover;
    width: 253%;

  }

  .mybrief {
    font-size: 8vw;
  }

  .myinterest {
    font-size: 7vw;
  }

  .mybrief {
    padding-left: 30px;
  }

  .myicon {
    text-align: center;
  }

  .mydetails {
    text-align: center;
  }

  .myh2contact {
    font-size: 7.6vw;
  }


  #msg {
    width: 90%;
    height: auto;
    font-size: 1.4em;
    color: red;
  }

  .botao {
    background-color: silver;
    border-radius: 15%;
  }

}


/* RESPONSIVE DESIGN --PRIVACY POLICY-- */

#myprivacycontent {
  font-size: 1.2em;
}

.myprivacyh1 {
  font-size: 2.1em;
}