body {
  color: #fa0606;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* grid 960px */
.linha {
  width: 97.916667%;
  margin: 0 auto;
  /* deixa centralizado, no meio da pagina */
  overflow: auto;
  /* evita problemas futuros de layout */
  padding: 0;
  /* espassamento entre linhas */
}

.coluna {
  padding: 0 10px;
  /*espassamento entre colunas, isso influi na conta dos 960px, que dividido por
  12 da 80, menos 10 de cada lado da 60*/
  float: left;
}

/* com esse espassamento definimos aqui abaixo o tamanho de cada coluna: */

.col1 {
  /*  width: 60px; */
  width: 6.25%;
}

.col2 {
  /*  width: 140px; */
  width: 14.583333%;
}

.col3 {
  /*  width: 220px; */
  width: 22.916667%;
}

.col4 {
  /*  width: 300px; */
  width: 31.25%;
}

.col5 {
  /*  width: 380px; */
  width: 39.583333%;
}

.col6 {
  /*  width: 460px; */
  width: 47.916667%;
}

.col7 {
  /*  width: 540px; */
  width: 56.25%;
}

.col8 {
  /*  width: 620px; */
  width: 64.583333%;
}

.col9 {
  /*  width: 700px; */
  width: 72.916667%;
}

.col10 {
  /*  width: 780px; */
  width: 81.25%;
}

.col11 {
  /*  width: 860px; */
  width: 89.583333%;
}

.col12 {
  /*  width: 940px; */
  width: 97.916667%;
}

/* estilos reutilizaveis */


nav {
  text-align: right;
}

/*top: 0;
   background-color: rgba(50,60,70,0.8);
   width: 30%;
   padding: 5px 0;
   height: 3.8%;*/
}

nav ul {
  list-style-type: none;
  /*padding: 0;*/
  text-align: right;
}

nav ul li {
  padding-right: 20px;
  display: inline;
  text-align: right;
  font-size: 1.3em;
}

ul.inline li:last-child,
ol.inline li:last-child {
  margin-right: 0;
  /* o ultimo li em linha tanto de ul quanto ol tem que ter margem sempre 0! */
}

hr {
  padding: 0;
  background-color: #fa0606;
  width: 100%;
  float: right;
  margin: 0;
}

.mytext {
  padding-top: 120px;
}

#myname {
  font-size: 3.8em;
  text-align: center;
}

span {
  color: black;
}

.edel {
  color: silver;
}

.lm {
  color: yellow;
}

.mywebdev {
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 0.8em;
}

.myberlin {
  font-size: 1.3em;
  text-align: center;
}

.myphoto {
  float: left;
  padding-left: 40px;
  width: 38%;
  padding-top: 0;
}


.myinsta {
  width: 2em;
}


img {
  max-width: 100%;
  height: auto;
  /* com isso ja ajeita as img dentro do site */
}

footer {
  margin: auto;
  overflow: auto;
  text-align: center;
  clear: both;
  height: 20%;
  color: #fff;
  padding-top: 10px;
  overflow: hidden;
}

.footer {
  background-color: #fa0606;
  font-size: 11pt;
  color: #fff;
}

.mycopy {
  margin: 10px 0 0 0;
}

.myprivacy,
.mycv {
  padding-top: 20px;
}

a {
  text-decoration: none;
  margin-top: 10px;
}

nav ul li a {
  color: #fa0606;
}

nav ul li a:hover {
  color: #5a3d08;
}

.myprivacy a,
.mycv a {
  color: #fff;
}

.myprivacy a:hover,
.mycv a:hover {
  color: yellow;
}

/*here starts the ABOUT page*/

.myabout {
  background-image: url(coffe.png);
  background-size: cover;
  height: inherit;
  width: 100%
}

.whatido,
.howdid {
  background-color: #fcfafaed;
  border-radius: 30px;
  border: double;
  color: black;
  padding: 29px 0;
  text-align: center;
  margin: 30px 0;
}

/*.transparent {
  padding: 15px 0;
}*/

/*Typography*/

.myh2 {
  font-size: 2.0em;
  color: #b92f16;
}

.myh3,
.myh4 {
  color: black;
  font-weight: bold;
}

.myh3 {
  font-size: 1.5em;
}

.myh4 {
  font-size: 1.2em;
}

/*here starts the SKILLS page*/

.myskills {
  background-image: url(meeting.jpg);
  background-size: cover;
  border-radius: 10px;
}

.myknowledge,
.myexperience,
.myeducation {
  background-color: #fcfafaed;
  border-radius: 30px;
  border: double;
  color: black;
}

.myknowledge {
  margin: 15px 20px 15px 0;
}

.myexperience {
  margin: 20px 0;
  float: right;
}

.myexperience a {
  color: #fa0606;
}

.myexperience ul li {
  font-size: 13pt;
  font-weight: bold;
}

.myeducation {
  float: right;
  margin: 15px 0;
}

.myeducation a {
  color: #fa0606;
}

.myeducation ul li {
  font-size: 13pt;
  font-weight: bold;
}


.sk {
  font-size: 3vmin;
  font-weight: bold;
}

#bar {
  width: 60%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.4);
}

#fill {
  width: 65%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill1 {
  width: 70%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill2 {
  width: 10%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill3 {
  width: 90%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill4 {
  width: 90%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill5 {
  width: 80%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill6 {
  width: 45%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill7 {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

#fill8 {
  width: 95%;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 26, 21, 0.6);
}

.procent {
  text-align: center;
  color: white;
}

.dci {
  padding-top: 0;
  margin-top: 0;
}

.date {
  color: #032679e0;
  font-weight: bold;
}

.underline {
  color: black;
  font-weight: bold;
}

/* Here starts the portfolio page */

#myportfolio {
  background-color: #303131;
  background-size: auto;
  color: #fff;
}

.firstline {
  text-align: center;
}

.mydevices {
  width: 80%;
  height: 80%;
}

.truncate {
  overflow: hidden;
}

.microsite {
  font-size: 2em;
  color: #ffff00;
  font-weight: bold;
}

.myconcept {
  padding-left: 10%;
}

.techno {
  color: #ffff00;
  font-size: 13pt;
}

/* ________________________________________________________________
___________________________________________________________________
              Here starts the contact page
__________________________________________________________________
_________________________________________________________________*/

.mycontact {
  background-color: #c0c0c024;
  text-align: center;
  padding: 50px 0;
}

.mybrief,
.myinterest {
  color: black;
  font-size: 1.5em;
}

.myicon {
  text-align: center;
}

.fas fa-map-marker-alt {
  font-size: 3em;
}

.mylists {
  list-style: none;
  padding: 0;
  color: black;
}

.myinfo {
  padding-top: 15%;
}

#clientfirst {
  color: red;
  border: none;
}

.employer {
  border: none;
  color: red;
}

.contactme {
  border: none;
  color: red;
}

#msg {
  width: 90%;
  height: auto;
  font-size: 1em;
  color: red;
}

.botao {
  background-color: silver;
  border-radius: 15%;
}

.botao:hover {
  background-color: red;
  color: #fff;
}

/* HERE STARTS THE PRIVACY PAGE */

#myprivacycontent {
  color: black;
  font-size: 1.27em;
}

.myprivacyh1 {
  font-size: 2.8em;
  text-align: center;
}